<!DOCTYPE html>
<html class="{{ htmlClass }}">
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" media="all" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" media="all" />
        <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />
        <link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />
        <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,500i|Oswald:600|Reem+Kufi" rel="stylesheet">


        <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
        {{ patternLabHead | raw }}
        <!-- End Pattern Lab -->

    </head>
    <body class="{{ bodyClass }} page">
        <div class="non-menu">
